.dashboard {
  width: 220px;
  height: 830px;
}

.dashboard-top {
  width: 220px;
  height: 42px;
  margin-top: 23px;
  padding: 11px 24px 11px 24px;
  gap: 10px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: rgba(138, 138, 138, 1);
}

.dashboard-bot {
  width: 220px;
  height: 42px;
  margin-top: 8px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  padding: 11px 24px 11px 24px;
  gap: 10px;
}
