canvas{

    width:1154px !important;
    height:376px !important;
  
  }

  .rentedCar{
    font-family: Arial;font-size: 14px;font-weight: 700;line-height: 20px;text-align: left;margin-top: 58px;
  }